/**
 * Some hacks for Markdown texts
 */

/* Logo */
img.logo {
    max-width: 110px;
    max-height: 110px;
}

/* Hide the table of contents */
.rst-content #table-of-contents {
    display: none;
}

.toctree-l2 a[href="#table-of-contents"] {
    display: none;
}


/**
 * Dark mode fixes
 */

/* Fix color of reference names */
html[data-theme="dark"] .sig .sig-prename,
html[data-theme="dark"] .sig .sig-name {
    color: #bfbfbf !important;
}


html[data-theme="dark"] .sig.sig-object {
    color: #959595 !important;
}


/* Fix method, attribute and class background color */
html[data-theme="dark"] .method dt,
html[data-theme="dark"] .class dt,
html[data-theme="dark"] .attribute dt,
html[data-theme="dark"] .exception dt {
    background: #18181a !important;
}
